.main-viewer__part-info {
  margin-left: 15px;
  h1::first-letter {
    color: red;
  }
}

.main-viewer__part-name {
  float: left;
  width: 150px;
}

.main-viewer__homeBtn, .main-viewer__backBtn {
  font-size: 170%;
  height: 37px;
  width: 48px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 5px;
  z-index: 1;
  opacity: 0.5;
  color: black;
}

.main-viewer__backBtn {
  right: 30px;
  background: url('/img/back_btn.svg') no-repeat;
}

.main-viewer__homeBtn {
  right: -10px;
  background: url('/img/home_btn.svg') no-repeat;
}

@media (max-width: 600px) {
  .main-viewer__part-name {
    float: none;
  }
}

