.main-footer {
  width: 100%;
  height: 90px;
  background-color: rgb(5, 5, 5);
}

.main-footer__text {
  font-size: 70%;
  padding: 10px 50px;
}

@media (max-width: 600px) {
  .main-footer__text {
    font-size: 65%;
    padding: 10px 10px;
  }
}