.main-viewer__navList {
  padding-left: 10px;
  list-style: none;
  display: flex;
}

.main-viewer__navItem {
  float: left;
  background: rgba(66,66,66,0.4);
  padding: 2px;
  width: 16px;
  height: 16px;
  margin-left: 3px;
  font-size: 75%;
  text-align: center;
  cursor: pointer;
}

.main-viewer__navItem_active {
  border-bottom: 1px solid red;
}
