.main-menu {
  height: 30px;
  background-color: rgb(5, 5, 5);
  border-bottom: 10px solid rgb(26, 26, 26);
}

.main-menu__list {
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 0;
}

.main-menu__item {
  float: left;
  margin-left: 20px;
  text-decoration: none;
  a {
    text-decoration: none;
    color: white;
  }
}

#screen-container[data-screen="main-screen"] .main-menu__item_home {
  border-bottom: 2px solid red;
}

#screen-container[data-screen="blog-screen"] .main-menu__item_blog {
  border-bottom: 2px solid red;
}

#screen-container[data-screen="wiki-screen"] .main-menu__item_wiki {
  border-bottom: 2px solid red;
}