.error-404 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  a {
    font-size: 50%;
    color: rgb(136, 0, 0);
    &:hover {
      color: rgb(136, 0, 0)
    }
    &:visited {
      color: rgb(136, 0, 0)
    }
  }
}

.error-404__text_big {
  font-size: 450%;
}

.error-404__text_red {
  color: red;
}