.book-slider {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin: 20px 0 20px 0;
}

.book-slider__slideItem img {
  width: 65px;
  height: 65px;
  background: gray;
}

.book-slider__head img {
  height: 130px;
  background: gray;
}

.book-slider__head {
  width: 20%;
  text-align: center;
  margin-right: 20px;
  h2 {
    margin: 5px 0 0 0;
    font-size: 18px;  // Правильно указать размер (в em? %^&$)
  }
}

.book-slider__slideList {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: transform 0.5s;
}

.book-slider__slideItem {
  width: 65px;
  text-align: center;
  margin-right: 8px;
  h3 {
    font-size: 10px;  // Правильно указать размер (в em? %^&$)
  }
}

.book-slider__slider {
  overflow: hidden;
  margin: 0 5px 0 5px;
}

.book-slider__backBtn, .book-slider__forwardBtn {
  line-height: 40px;
  width: 30px;
  text-align: center;
  cursor: pointer;
}
