.wrapper {
  margin: 0 auto;
  width: 630px;
  height: 100%;
  flex-grow: 1;
  background: rgb(8, 8, 8);
  border-bottom: 10px solid rgb(26, 26, 26);
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
}