.main-viewer__container {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.main-viewer__header {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.main-viewer__header h1 {
  font-size: 120%;
  margin: 0 20px;
  display: inline;
}

.main-viewer__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-around;
  margin: 0 20px 0 20px;
}

.main-viewer__part {
  overflow: hidden;
  display: flex;
  height: 930px;
  position: relative;
  img {
    width: 630px;
    opacity: 1;
    transform: translateX(0);
    position: absolute;
    transition: transform 0.4s, opacity 0.4s;
    background: rgb(70, 0, 0);
  }

  .forward-img {
    opacity: 0;
    transform: translateX(300px);
  }
  
  .backward-img {
    opacity: 0;
    transform: translateX(-300px);
  }
}

.main-viewer__backwardBtn, .main-viewer__forwardBtn {
  z-index: -1;
  background: rgba(66,66,66,0.54);
  border-radius: 28px;
  cursor: pointer;
  position: fixed;
  top: 50%;
  margin-top: -28px;
  height: 56px;
  width: 56px;
  svg {
    fill: white;
    position: absolute;
    left: 10px;
    top: 10px;
  }
}

.main-viewer__forwardBtn {
  right: 28px;
}

.main-viewer__backwardBtn {
  left: 28px;
}